.general-aside{
    width: 18%;
    min-height: 600px;
    /* background-color: brown; */
    margin: 1%;
    border-radius: 20px;
    transition: all ease-in-out 2.0;
    ;
}

.banner-img{
    border-radius: 0;
    width: 85%;
    min-height: 600px;
    max-height: 800px;
    margin: 10% auto;
    transform: duration 0.5s;
    transition: all ease-in-out 2.0;
    border-radius: 4%;
}


/* TABLETS AND PHONES */
@media only screen and (max-width: 972px){
    
    .general-aside{
        width: 98%;
        min-height: 200px;
        background-color: brown;
        margin: 2%;
        border-radius: 20px;
    }

    .banner-img{
        width: 95%;
        min-height: auto;
        max-height: 200px;
    }

    .general-aside:nth-child(1){
        display: none;
    }
}
