.newsletter-div{
    width: fit-content;
    margin: 4% auto;
    border-radius: 2%;
    padding: 3%;
    background-color: rgb(65, 145, 117);
}


h3{
    text-align: center;
    padding: 2%;
    color: azure;
}

.news-p{
    text-align: center;
    font-style: italic;
    padding: 2%;
    color: azure;
    opacity: 0.8;
}

.form{
    text-align: center;
}

.input{
    width: 400px;
    height: 50px;
    display: block;
    background-color: azure;
    opacity: 0.9;
    font-size: 1.6rem;
    margin: 1% auto;
}

.news-btn{
    color: azure;
    border: 3px solid azure;
    font-size: 1.6rem;
    color: azure;
    padding: 1%;
    margin-top: 8%;
    background-color: rgb(65, 145, 117);
    border-radius: 5%;
}

.news-btn:hover{
    background-color: azure;
    color: rgb(65, 145, 117);
}

@media only screen and (max-width: 972px){
    .newsletter-div{
        width: 100%;
        margin: 4% auto 0;
        padding: 1%;
    }

    .input{
        width: 90%;
        height: 46px;
    }

    .news-btn{
        font-size: 1.2rem;
        color: azure;
        padding: 1%;
        margin: 8% auto;
    }

}